<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>CLOSAT故事种子生成器</title>
</head>
<body>

<div class="add" style="margin:50px 0 0 30%;width:600px;">
    <h1>CLOSAT故事种子生成器</h1>
    <form id="closat" method="post" name = "closat" role="form">
        <!--<input type="text" class="form-control" name="type" placeholder="卡片类型，必填" required="required">-->
        <label for="cardtype">卡片类型</label>
        <select class="form-control" name="type" id="cardtype">
            <option value="人物">C-人物</option>
            <option value="地点">L-地点</option>
            <option value="物件">O-物件</option>
            <option value="情景">S-情景</option>
            <option value="行动">A-行动</option>
            <option value="主题">T-主题</option>
        </select>
        <br/>
        <label for="cardname">卡片名称</label>
        <input type="text" class="form-control" name="cardname" id="cardname" placeholder="卡片名称，必填" required="required">
        <br/>
        <textarea class="form-control" rows="8" name = "detail" placeholder="卡片详细描述"></textarea>
        <br/>
        <button type="submit"  class="btn btn-default" form="closat" value="add" name='add'>新增</button>
<br/><br/>
    </form>
    <div></div>
    <hr/>
    <form method="method">
            <button type="submit"  class="btn btn-default" name="random" value="random1">随机取1张某类型的卡片</button>
        <button type="submit"  class="btn btn-default" name="random" value="random4">随机取2人物1地点1物件卡</button>
        <button type="submit" class="btn btn-default" name="random" value="allcard">查看所有卡片</button>
        <br><br/>
        <button type="submit" class="btn btn-default" name="help" value="help">使用说明</button>
</form>
    <hr/>
    {% if name %}
    <h1>    {{result}}<br>你刚刚提交的卡片是：</h1>
    <h3>卡片名称 {{name}}!</h3>
        <h3>卡片类型 {{type}}!</h3>
        <h3>卡片描述 {{detail}}!</h3>
    {% elif result %}
    {{result}}
    {% else %}
    <h1>欢迎使用！</h1>
    {% endif %} <!-- 这里实际是需要endif而不是end if-->

    {% if help %}
    <h1>使用说明</h1>
    <ul>{% for x in help.split('\n') %}
        <li>{{ x }}</li>
    {% endfor %}
    </ul>
    {% endif %} <!-- 这里实际是需要endif而不是end if-->

    {% if card1 %}
    <h1>卡片展示</h1>
    <ul>{% for x in card1 %}
        <li>{{ x }}</li>
    {% endfor %}
    </ul>
    {% endif %} <!-- 这里实际是需要endif而不是end if-->

</div>
</body>
</html>