<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>CLOSAT故事种子生成器</title>
</head>
<body>

<div class="add" style="margin:50px 0 0 30%;width:600px;">
    <h1>CLOSAT故事种子生成器</h1>
    <h2>生成卡片</h2>
    <div></div>
    <hr/>
    <form method="post">
            <button type="submit"  class="btn btn-default" name="random" value="random1">随机取1张某类型的卡片</button>
        <button type="submit"  class="btn btn-default" name="random" value="random4">随机取2人物1地点1物件卡</button>
        <button type="submit" class="btn btn-default" name="random" value="allcard">查看所有卡片</button>
        <br><br/>
        <button type="submit" class="btn btn-default" name="help" value="help">使用说明</button>
</form>
    <hr/>
    {% if help %}
    <h1>使用说明</h1>
    <ul>{% for x in help.split('\n') %}
        <li>{{ x }}</li>
    {% endfor %}
    </ul>
    {% endif %} <!-- 这里实际是需要endif而不是end if-->

    {% if card1 %}
    <h1>卡片展示</h1>
    <br>卡片名称【类型】：卡片描述<br><br>
    <ul>{% for x in card1 %}
        <b>{{ x[1]}}</b>【{{ x[0] }}】
        ：{{ x[2] }}<br><br>
    {% endfor %}
    </ul>
    {% endif %} <!-- 这里实际是需要endif而不是end if-->

</div>
</body>
</html>